---
import i18next, { changeLanguage, t } from "i18next";
import Layout from "@layouts/Layout.astro";
import banner from "assets/banner.png";
import { Image } from "astro:assets";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Faq from "@components/faq.astro";

changeLanguage("en");

const personal_characteristics = i18next.t("about.personal_characteristics.desc", { returnObjects: true });
const learn = i18next.t("about.learn.desc", { returnObjects: true });
const information = i18next.t("about.information.desc", { returnObjects: true });
const values = i18next.t("about.values.desc", { returnObjects: true });
const preference = i18next.t("about.preference.desc", { returnObjects: true });
const experience = i18next.t("about.experience.desc", { returnObjects: true });
const frontend = i18next.t("about.tech.type.frontend.desc", { returnObjects: true });
const backend = i18next.t("about.tech.type.backend.desc", { returnObjects: true });
---

<Layout title={t("header.about")}>
	<Container>
		

		<div>
			
			<div class="flex flex-col lg:flex-row lg:mb-10 item-center justify-center">
				<Image
							class="block mx-auto rounded-full dark:bg-transparent dark:bg-zinc-900/50 bg-gray-300/50 bg-opacity-50 lg:mr-20"
							src={banner}
							alt="Rian"
							width={500}
							height={500}
						/>
						<Sectionhead>
							<Fragment slot="title">
								<div class="my-10">{t("header.about")}</div>
							</Fragment>
							<Fragment slot="desc">
							<div class="px-10 pb-5 md:px-6 md:pb-0 dark:text-white">
								<ul class="list-disc list-inside text-left mt-4">
									{information.map((item) => <li class="py-1">{item}</li>)}
								</ul>
								<hr class="my-4"/>
								<ul class="list-disc list-inside text-left max-w-md">
									{values.map((item) => <li class="py-1">{item}</li>)}
								</ul>
							</div>
							</Fragment>
						</Sectionhead>
			</div>
			<hr/ class="py-4">
			<div class="grid md:grid-cols-3 mx-8 p-2  dark:text-white">

				<div class="dark:bg-zinc-900/50 bg-gray-300/50 md:mx-5 p-5 rounded-lg my-4 bg-opacity-50">
					<h2 class="text-2xl my-2">{t("about.experience.title")}</h2>
					<ul class="list-disc list-inside">
						{experience.map((item) => <li class="py-1">{item}</li>)}
					</ul>
				</div>
				<div class="dark:bg-zinc-900/50 bg-gray-300/50 md:mx-5 p-5 rounded-lg my-4 bg-opacity-50">
					<h2 class="text-2xl my-2">{t("about.personal_characteristics.title")}</h2>
					<ul class="list-disc list-inside">
						{personal_characteristics.map((item) => <li class="py-1">{item}</li>)}
					</ul>
				</div>
				<div class="dark:bg-zinc-900/50 bg-gray-300/50 md:mx-5 p-5 rounded-lg my-4 bg-opacity-50">
					<h2 class="text-2xl my-2">{t("about.learn.title")}</h2>
					<ul class="list-disc list-inside">
						{learn.map((item) => <li class="py-1">{item}</li>)}
					</ul>
				</div>
				<div class="dark:bg-zinc-900/50 bg-gray-300/50 md:mx-5 p-5 rounded-lg my-4 bg-opacity-50">
					<h2 class="text-2xl my-2">{t("about.preference.title")}</h2>
					<ul class="list-disc list-inside">
						{preference.map((item) => <li class="py-1">{item}</li>)}
					</ul>
				</div>
				<div class="dark:bg-zinc-900/50 bg-gray-300/50 md:mx-5 p-5 rounded-lg my-4 bg-opacity-50">
					<h2 class="text-2xl my-2">{t("about.tech.type.frontend.title")}</h2>
					<ul class="list-disc list-inside">
						{frontend.map((item) => <li class="py-1">{item}</li>)}
					</ul>
				</div>
	
				<div class="dark:bg-zinc-900/50 bg-gray-300/50 md:mx-5 p-5 rounded-lg my-4 bg-opacity-50">
					<h2 class="text-2xl my-2">{t("about.tech.type.backend.title")}</h2>
					<ul class="list-disc list-inside">
						{backend.map((item) => <li class="py-1">{item}</li>)}
					</ul>
				</div>
	
			</div>
		</div>
		<Faq />
	</Container>
</Layout>
