---
import { localizePath } from 'astro-i18next';
import { Icon } from 'astro-icon';

export interface Props {
    posts: Array<any>;
}

const { posts } = Astro.props;
console.log(posts);
---

<section class="mx-auto max-w-7xl">
    <div class="mx-auto max-w-2xl prose prose-lg divide-y divide-slate-200 lg:mx-0 lg:max-w-none">
        {
            posts.map((blogPostEntry, index) => (
                <article class="max-w-4xl mx-auto py-8 dark:text-white">
                    <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
                        <time datetime={blogPostEntry.data.publishDate.toDateString()} class="mr-8">
                            {blogPostEntry.data.publishDate
                                .toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' })
                                .replace(/\//g, '-')}
                        </time>

                        <div class="space-y-2 xl:col-span-3">
                            <h2 class="m-0 text-xl">
                                <a
                                    class="text-black dark:text-white no-underline font-semibold"
                                    href={`${localizePath(`blog/${blogPostEntry.slug.split('/').slice(1).join('/')}`)}`}
                                >
                                    {blogPostEntry.data.title}
                                </a>
                            </h2>

                            <h4 class="text-xs font-medium uppercase tracking-wider">
                                <a
                                    class="text-blue-400 dark:text-stone-400 no-underline font-semibold"
                                    href={localizePath(`blog/category/${blogPostEntry.data.category?.toLowerCase()}`)}
                                >
                                    {blogPostEntry.data.category}
                                </a>
                            </h4>
                            <span>{blogPostEntry.data.snippet}</span>
                            <div>
                                <a
                                    class="no-underline text-sm hover:text-stone-600 dark:text-stone-300 dark:hover:text-white"
                                    href={`${localizePath(`blog/${blogPostEntry.slug.split('/').slice(1).join('/')}`)}`}
                                >
                                    Read more →
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            ))
        }
    </div>
</section>
